@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

#root {
  max-width: 800px;
  margin: auto;
  padding: 5px;
}

input:focus,
button:focus {
  outline: none;
}

h1,
h2,
li,
button,
input {
  font-family: 'Exo', sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 700;
  margin-top: 10px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  margin-top: 10px;
}

header {
  text-align: center;
  margin: 10px;
}

footer {
  text-align: center;
  color: rgb(104, 104, 104);
  margin: 10px;
  font-size: small;
}

li {
  list-style: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group form {
  width: 100%;
}

.input-field {
  margin-bottom: 20px;
  background-color: black;
  font-size: medium;
  color: white;
  padding-left: 10px;
  height: 35px;
  width: 90%;
  border: none;
}

.toDoButton {
  cursor: pointer;
  border: none;
  min-width: 75px;
  width: 10%;
  height: 35px;
  font-size: medium;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 5px 15px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;
}

.list-container button {
  cursor: pointer;
  margin-left:5px;
  border: none;
  min-width: 75px;
  width: 10%;
  height: 35px;
  font-size: medium;
}

.todo-list-done {
  text-decoration: line-through;
  color: rgb(157, 157, 157);
}

::placeholder {
  font-size: medium;
  color: rgb(130, 130, 130);
}

.font-awesome__icon {
  cursor: pointer;
  margin-left: 5px;
  border: none;
  min-width: 50px;
  width: 10%;
}

@media screen and (max-width: 950px) {
  .toDoButton {
    width: 15%;
  }
  .input-field {
    width: 85%;
  }
}

@media screen and (max-width: 575px) {
  .toDoButton {
    width: 25%;
  }
  .input-field {
    width: 75%;
  }
}